@font-face {
  font-family: "Hermit";
  src: url("./fonts/Hermit-medium.woff2") format("woff2"),
    url("./fonts/Hermit-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
pre {
  font-family: "Hermit", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
